@tailwind base;
@tailwind components;

@layer utilities {
    .futuristic-purple {
      background-color: #6D5ACF;
    }

    .futuristic-blue {
      background-color: #4AC8E8;
    }

    .futuristic-green {
      background-color: #70CC72;
    }

    .futuristic-red {
      background-color: #E3605B;
    }

    .futuristic-gray {
      background-color: #9BA4B4;
    }

    .futuristic-dark {
      background-color: #1E1F26;
    }

    .futuristic-gradient {
      background-image: linear-gradient(to bottom, #6D5ACF, #4AC8E8);
    }
  }

  @tailwind utilities;
